<!-- IF SYMBOLS_TABS -->
	<div id="tabs" class="tabs sub-panels" data-show-panel="smilies-panel" role="tablist">
		<ul>
			<li id="smilies-panel-tab" class="tab activetab">
				<a class="symbol-tab" href="#tabs" data-subpanel="smilies-panel" role="tab" aria-controls="smilies-panel">
					<img src="./images/smilies/icon_e_smile.gif" width="15" height="17" alt=":)" title={L_SYM_SMILIES} />
				</a>
			</li>
			<!-- BEGIN symbols_box -->
			<li id="{symbols_box.SYMBOLS_TAB_ID}-panel-tab" class="tab">
				<a class="symbol-tab" href="#javascript:void(0);" data-subpanel="{symbols_box.SYMBOLS_TAB_ID}-panel" role="tab" aria-controls="{symbols_box.SYMBOLS_TAB_ID}-panel" tab-link= "{ROOT_PATH}app.php/symbols/{symbols_box.SYMBOLS_TAB_ID}" title="{symbols_box.SYMBOLS_TAB_NAME}">
					<span>{symbols_box.SYMBOLS_TAB_LABEL}</span>
				</a>
			</li>
			<!-- END symbols_box -->
		</ul>
	</div>

	<!-- BEGIN symbols_box -->
	<div class="panel bg3" id="{symbols_box.SYMBOLS_TAB_ID}-panel"></div>
	<!-- END symbols_box -->

	<div class="panel bg3" id="smilies-panel">
<!-- ENDIF -->
