<!-- IF SYMBOLS_TABS -->
	<div id="tabs" class="tabs sub-panels" data-show-panel="smilies-panel" role="tablist">
		<ul>
			<li id="smilies-panel-tab" class="tab activetab">
				<a class="symbol-tab" href="#tabs" data-subpanel="smilies-panel" role="tab" aria-controls="smilies-panel">
					<img src="./images/smilies/icon_e_smile.gif" width="15" height="17" alt=":)" title={L_SYM_SMILIES} />
				</a>
			</li>
			<li id="accent-chars-panel-tab" class="tab">
				<a class="symbol-tab" href="#javascript:void(0);" data-subpanel="accent-chars-panel" role="tab" aria-controls="accent-chars-panel" tab-link= "{{ U_ACCENTS_LINK }}" title={L_SYM_ACCENTED_CHARS}>
					<span>&agrave;&acirc;&aring;</span>
				</a>
			</li>
			<li id="math-symbols-panel-tab" class="tab">
				<a class="symbol-tab" href="#javascript:void(0);" data-subpanel="math-symbols-panel" role="tab" aria-controls="math-symbols-panel" tab-link= "{{ U_MATH_LINK }}" title={L_SYM_MATH_SYMBOLS}>
					<span>&radic;&sum;&infin;</span>
				</a>
			</li>
			<li id="misc-symbols-panel-tab" class="tab">
				<a class="symbol-tab" href="#javascript:void(0);" data-subpanel="misc-symbols-panel" role="tab" aria-controls="misc-symbols-panel" tab-link= "{{ U_MISC_LINK }}" title={L_SYM_MISC_SYMBOLS}>
					<span>&euro;&deg;&para;</span>
				</a>
			</li>
			<li id="greek-chars-panel-tab" class="tab">
				<a class="symbol-tab" href="#javascript:void(0);" data-subpanel="greek-chars-panel" role="tab" aria-controls="greek-chars-panel" tab-link= "{{ U_GREEK_LINK }}" title={L_SYM_GREEK_LETTERS}>
					<span>&alpha;&beta;&gamma;</span>
				</a>
			</li>
		</ul>
	</div>

	<div class="panel bg3" id="accent-chars-panel"></div>
	<div class="panel bg3" id="math-symbols-panel"></div>
	<div class="panel bg3" id="misc-symbols-panel"></div>
	<div class="panel bg3" id="greek-chars-panel"></div>
	<div class="panel bg3" id="smilies-panel">
<!-- ENDIF -->
